body  {
    margin: 0;
    padding: 0;
  
  }
  

  .ul {
    list-style: none;
  }


  h1 {
    text-align: left;
    font-family: 'Solway', serif;
    font-size: 96px;
    
  }
    

  

  .heroBackground {
  background-color: #0967aa;
  /* background-color: #444CF7; */
  color: white;
  }
  
  /* Navbar Styles */

  #logo {
    /* margin-left: 5px; */
    font-family: 'Rochester', cursive;
    font-size: 35px;
    margin-top: 30px;
    color: #FBC202;

  }

.icon {
  height: 90%;
}



.navbar-brand { 

  margin-left: 25px;

}

.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  color: #02f3fb;
  /* border-bottom: 2px solid var( --bg-color-light);  */
}

.navbar a visited {
  text-decoration: none;
}

@media (max-width: 600px) { 
  nav ul li {
  display: inline;
  /* font-size: 16px;
  border-bottom: 1px solid var( --bg-color-light); 
  padding-top: 14px; */
  }
}



  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #02f3fb;
  } 
  
  


  
  .heroBackground {
    background-image: url("../img/book-splash.png");
    /* background-position: bottom; */
    background-position: cover;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-color: #212D49;
    color: white;
  }


/* .errorMsg p {
  padding-top: 10px;
} */


.save-btn {
  padding-bottom: 10px;
}

  /* Definition Container Styles */
  
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  .definition-container {
    padding-top: 20px
    /* margin-bottom: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  
  #inputText {
    width: 50%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Result Container Styles */
  .result-container {
    margin-bottom: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .poetry-container {
    margin-bottom: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  #DefinationResult, #poetryResult {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Poetry Container Styles */
  .poetry-container button {
    background-color: #2196F3;
    color: white;
  }
  
  .poetry-container button:hover {
    background-color: #0b7dda;
  }
  
  .word-container {
    margin-bottom: 20px;
    max-width: 120px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
  }
  
  .history-container {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  